<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Video Call</title>
        <link rel="stylesheet" href="./css/call.css">
        <!-- ### here -->
        <link rel="stylesheet" href="./fontawesome-free-6.1.1-web/css/all.min.css">
        <link rel="stylesheet" href="./bootstrap-5.1.3-dist/css/bootstrap.min.css">
        <!-- ### end here -->
        <script src='socket.io.min.js'></script>
        <style>
            body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 24px;
                min-height: 90vh;
            }
        </style>
    </head>
    <!-- here -->
    <body style="background-color: rgba(0, 0, 0, 0.349);">
        <div class="container-fluid">
    <!-- bo di 1 the div -->
    <!-- end here -->
                <!-- to make a call with name -->
                <div id="call">
                    <div class="dialWrapper">
                        <input placeholder="Whom to call?" style="text-align:center; height: 50px; font-size: xx-large;"
                            type="text" name="callName" id="callName">
                        <div class="dialNumpadHWrapper">
                            <div class="dialNumber">
                            </div>
                            <div class="dialNumber">
                                <button class="dialActionButton" onclick="call()">Call</button>
                            </div>
                            <div class="dialNumber">
                            </div>
                        </div>
    
                    </div>
                </div>
    
                <!-- to show incommming call and accept -->
                <div id="answer">
                    <div class="incomingWrapper">
                        <div class="itemWrapper">
                            <h2>Incomming Call</h2>
                        </div>
                        <div class="itemWrapper">
                            <img id="profileImageA" style="padding: 30px; width: 140px; height: 140px;"
                                src="./img/profile.png" alt="">
                        </div>
                        <div class="itemWrapper">
                            <h2 style="line-height: 0px;"><span id="callerName"></span></h2>
                        </div>
                        <div class="itemWrapper" style="display: flex; flex-direction: row; margin-bottom: 20px;">
                            <button class="actionButton" onclick="answer()">Answer</button>
                        </div>
                    </div>
                </div>
                 <!-- ### here -->
                <!-- to show outgoing call --> 
                <div id="calling">
                    <div class="modal" id="calling-modal" style="display: block;">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="profile-widget">
                                        <div class="d-flex justify-content-center">
                                            <a href="#" class="avatar"><img src="./img/profile.png" alt=""></a>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="#" id="otherUserNameCA" style="text-decoration:none">Partnet Name</a></h4>
                                        </div>                    
                                        <div class="d-flex justify-content-center small text-muted mb-2">calling <span id="ellipsis"> ...  </span></div>
                                        <div class="d-flex justify-content-center">
                                            <!-- <a href="#" class="btn btn-danger me-4" id="decline-btn" onclick="stop()">Decline</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- ### end here -->
                <!-- to show call in progress call -->
                <div id="inCall">
                    <div class="incomingWrapper">
                        <div class="itemWrapper">
                            <h3>On Call With</h3>
                            <h2 style="line-height: 0px;"><span id="otherUserNameC"></span></h2>
                        </div>
                    </div>
                </div>
    
                <br>
                <!-- ### here: thay doi lai cho <div id=videos > -->
                <div id="videos" class="container">
                    <div id="localVideoDiv" class="border border-1" style="position:absolute; top:0; left: 80%;z-index: 10;">
                        <video width="300px" id="localVideo" autoplay muted playsinline></video>
                    </div>
                    <div id="remoteVideoDiv" class="d-flex justify-content-center container">
                        <video style="position:absolute;top:0;left: 0;z-index: 1;width: 100vw!important ;height: 100vh!important;object-fit:fill;" id="remoteVideo" autoplay playsinline></video>
                    </div>
                    <div id="btns" style="position:absolute; bottom: 5%;left: 5%; width: 90%; padding-top: 10px;z-index: 11;" class="d-flex">
                        <button id="btnMicro"class="btn btn-primary p-2" onclick="microControl()" style="width: 40px;">
                            <i id="iconMicro" class="fa fa-microphone"></i>
                        </button>
                        <button id="btnCam" class="btn btn-primary p-2" onclick="videoControl()" style="width: 40px;">
                            <i id="iconCam" class="fa fa-video-camera"></i>
                        </button>
                        <button class="btn btn-danger ms-auto p-2" onclick="stop()">END CALL</button>
                    </div>
                </div>
            <!-- ### end here -->
                <div style="flex-grow: 1;">
                </div>
            </div>
    
    
    
    </body>
</html>
<script type="text/javascript" src="./jquery-3.6.0.js"></script>
<script type="text/javascript" src="./socket.io.min.js"></script>
<script>
    var partnerID = '<%-partnerID%>'; 
    var incoming ='<%-call%>';console.log(partnerID, incoming);
    var rtcData = window.opener.incom_call_data; console.log(rtcData);
    //-------------Call------------------//
    let otherUser;
    let remoteRTCMessage;
    if(rtcData)
    {
        remoteRTCMessage=rtcData.rtcMessage;
    }

    let iceCandidatesFromCaller = [];
    let peerConnection;
    let remoteStream;
    let localStream;
    let localVideo = document.querySelector('#localVideo');
    let remoteVideo = document.querySelector('#remoteVideo');
    let callInProgress = false;
    

    var myID_json = sessionStorage.getItem('login_data');
    document.getElementById("call").style.display = "none";
    document.getElementById("answer").style.display = "none";
    document.getElementById("inCall").style.display = "none";
    document.getElementById("calling").style.display = "none";
    document.getElementById("videos").style.display = "none";

    
    if(myID_json==null){
        if(window.confirm('ban khong co quyen truy cap!!!')){
            window.location.href='/';
        }
        else
        {
            window.location.href='/';
        }
    }
    else
    {
      var myID = JSON.parse(myID_json)['id'];
        var accessToken = JSON.parse(myID_json).accessToken;
        var refreshToken = JSON.parse(myID_json).refreshToken;
    }
    var socket=io({auth:{'token': accessToken}});
    socket.emit('call_connect',{'userID':myID});
    
    window.onload = async function(){
        const options = {
            method: 'GET',
            headers: {
                'authorization': 'token '+ accessToken
            }
        };
        var res= await fetch('/authenOnLoad', options);
        var res_json = await res.json();
        if(!res || res.status!=200)
        {
            if(window.confirm('ban khong co quyen truy cap!!!')){
                window.location.href='/';
            }
            else
            {
                window.location.href='/';
            }
        }
        else
        {
            if(incoming=='caller'){
                call(partnerID);
            }
            else if(incoming=='callee')
            {
                answer(partnerID);
            }
            
        }
        
    }
    let sdpConstraints = {
        offerToReceiveAudio: true,
        offerToReceiveVideo: true
    };


    
    function connectSocket() {
        socket.on('newCall', data => {
            //when other called you
            console.log(data);
            //show answer button

            otherUser = data.caller;
            remoteRTCMessage = data.rtcMessage

            // document.getElementById("profileImageA").src = baseURL + callerProfile.image;
            document.getElementById("callerName").innerHTML = otherUser;
            document.getElementById("call").style.display = "none";
            document.getElementById("answer").style.display = "block";
        })

        socket.on('callAnswered', data => {
            console.log('rtc', data);
            //when other accept our call
            remoteRTCMessage = data.rtcMessage
            peerConnection.setRemoteDescription(new RTCSessionDescription(remoteRTCMessage));

            document.getElementById("calling").style.display = "none";

            console.log("Call Started. They Answered");
            // console.log(pc);

            callProgress()
        })

        socket.on('ICEcandidate', data => {
            // console.log(data);
            console.log("GOT ICE candidate");

            let message = data.rtcMessage

            let candidate = new RTCIceCandidate({
                sdpMLineIndex: message.label,
                candidate: message.candidate
            });

            if (peerConnection) {
                console.log("ICE candidate Added");
                peerConnection.addIceCandidate(candidate);
            } else {
                console.log("ICE candidate Pushed");
                iceCandidatesFromCaller.push(candidate);
            }

        })

    }
    connectSocket();

    function call(userToCall)
    {
        otherUser = userToCall;

        beReady()
            .then(bool => {
                processCall(userToCall)
            })
    }
    //event from html
    function answer(partnerID) {
        //do the event firing

        beReady()
            .then(bool => {
                processAccept(partnerID);
            })

        document.getElementById("answer").style.display = "none";
    }
    function createPeerConnection() {
        try {
            peerConnection = new RTCPeerConnection();
            // peerConnection = new RTCPeerConnection();
            peerConnection.onicecandidate = handleIceCandidate;
            peerConnection.onaddstream = handleRemoteStreamAdded;
            peerConnection.onremovestream = handleRemoteStreamRemoved;
            console.log('Created RTCPeerConnnection');
            return;
        } catch (e) {
            console.log('Failed to create PeerConnection, exception: ' + e.message);
            alert('Cannot create RTCPeerConnection object.');
            return;
        }
    }
    function createConnectionAndAddStream() {
        createPeerConnection();
        peerConnection.addStream(localStream);
        return true;
    }

    function beReady() {
        return navigator.mediaDevices.getUserMedia({
            audio: true,
            video: true
        })
            .then(stream => {
                localStream = stream;
                localVideo.srcObject = stream;

                return createConnectionAndAddStream()
            })
            .catch(function (e) {
                alert('getUserMedia() error: ' + e.name);
            });
    }

    function sendCall(data) {
        //to send a call
        console.log("Send Call");
        socket.emit("call", data);

        /*document.getElementById("call").style.display = "none";
        // document.getElementById("profileImageCA").src = baseURL + otherUserProfile.image;
        document.getElementById("otherUserNameCA").innerHTML = otherUser;*/
        document.getElementById("calling").style.display = "block";
    }
    function processCall(userID) {
        peerConnection.createOffer((sessionDescription) => {
            peerConnection.setLocalDescription(sessionDescription);
            sendCall({
                caller: JSON.parse(sessionStorage.getItem('login_data')).my_username,
                callerID: myID,
                calleeID: parseInt(userID),
                rtcMessage: sessionDescription
            })
        }, (error) => {
            console.log("Error");
        });
    }
    function answerCall(data) {
        //to answer a call
        socket.emit("answerCall", data);
        callProgress();
    }

    function processAccept(partnerID) {

        peerConnection.setRemoteDescription(new RTCSessionDescription(remoteRTCMessage));
        peerConnection.createAnswer((sessionDescription) => {
            peerConnection.setLocalDescription(sessionDescription);

            if (iceCandidatesFromCaller.length > 0) {
                //I am having issues with call not being processed in real world (internet, not local)
                //so I will push iceCandidates I received after the call arrived, push it and, once we accept
                //add it as ice candidate
                //if the offer rtc message contains all thes ICE candidates we can ingore this.
                for (let i = 0; i < iceCandidatesFromCaller.length; i++) {
                    //
                    let candidate = iceCandidatesFromCaller[i];
                    console.log("ICE candidate Added From queue");
                    try {
                        peerConnection.addIceCandidate(candidate).then(done => {
                            console.log(done);
                        }).catch(error => {
                            console.log(error);
                        })
                    } catch (error) {
                        console.log(error);
                    }
                }
                iceCandidatesFromCaller = [];
                console.log("ICE candidate queue cleared");
            } else {
                console.log("NO Ice candidate in queue");
            }

            answerCall({
                callerID: partnerID,
                rtcMessage: sessionDescription,
                caller: 'CALLER'
            })

        }, (error) => {
            console.log("Error");
        })
    }
    function sendICEcandidate(data) {
        //send only if we have caller, else no need to
        console.log("Send ICE candidate");
        socket.emit("ICEcandidate", data)
    }
    function handleIceCandidate(event) {
    // console.log('icecandidate event: ', event);
        if (event.candidate) {
            console.log("Local ICE candidate");
            // console.log(event.candidate.candidate);

            sendICEcandidate({
                user: partnerID,
                sender: myID,
                rtcMessage: {
                    label: event.candidate.sdpMLineIndex,
                    id: event.candidate.sdpMid,
                    candidate: event.candidate.candidate
                }
            })

        } else {
            console.log('End of candidates.');
        }
    }

    function handleRemoteStreamAdded(event) {
        console.log('Remote stream added.', event.stream);
        remoteStream = event.stream;
        remoteVideo.srcObject = remoteStream;
    }

    function handleRemoteStreamRemoved(event) {
        console.log('Remote stream removed. Event: ', event);
        remoteVideo.srcObject = null;
        localVideo.srcObject = null;
    }

    function callProgress() {

        document.getElementById("videos").style.display = "block";
        //document.getElementById("otherUserNameC").innerHTML = partnerID;
        //document.getElementById("inCall").style.display = "block";

        callInProgress = true;
    }
    function stop() {
        localStream.getTracks().forEach(track => track.stop());
        callInProgress = false;
        peerConnection.close();
        peerConnection = null;
        /*document.getElementById("call").style.display = "block";
        document.getElementById("answer").style.display = "none";
        document.getElementById("inCall").style.display = "none";
        document.getElementById("calling").style.display = "none";
        document.getElementById("endVideoButton").style.display = "none"*/
        otherUser = null;
        window.close(); // ### here

    }

    function microControl(){
        var audio = localStream.getAudioTracks()[0];
        if(audio.enabled==false){
            console.log(audio.muted);
            localStream.getAudioTracks()[0].enabled=true;
            // ### here: Thay doi hinh anh cua nut bam tat bat am thanh
            document.getElementById("btnMicro").classList.add("btn-primary");
            document.getElementById("btnMicro").classList.remove("btn-secondary");
            document.getElementById("iconMicro").classList.add("fa-microphone");
            document.getElementById("iconMicro").classList.remove("fa-microphone-slash");      
            // ### end here  
        }
        else if(audio.enabled==true){
            localStream.getAudioTracks()[0].enabled=false;
            // ### here: Thay doi hinh anh cua nut bam tat bat am thanh
            document.getElementById("btnMicro").classList.remove("btn-primary");
            document.getElementById("btnMicro").classList.add("btn-secondary");
            document.getElementById("iconMicro").classList.remove("fa-microphone");
            document.getElementById("iconMicro").classList.add("fa-microphone-slash");
            // ### end here
        }
        console.log('audio then: ', audio);
    }
    function videoControl(){
        var video = localStream.getVideoTracks()[0];
        console.log(video)
        if(video.enabled==true){
            video.enabled=false;
            // ### here: Thay doi hinh anh cua nut bam tat bat camera
            document.getElementById("btnCam").classList.remove("btn-primary");
            document.getElementById("btnCam").classList.add("btn-secondary");
            document.getElementById("iconCam").classList.remove("fa-video-camera");
            document.getElementById("iconCam").classList.add("fa-video-slash");
            // ### end here
        }
        else if(video.enabled==false){
            video.enabled=true;
            // ### here: Thay doi hinh anh cua nut bam tat bat camera
            document.getElementById("btnCam").classList.add("btn-primary");
            document.getElementById("btnCam").classList.remove("btn-secondary");
            document.getElementById("iconCam").classList.add("fa-video-camera");
            document.getElementById("iconCam").classList.remove("fa-video-slash");   
            // ### end here
        }
    }
    //--------------End Call-------------//
</script>

<!-- ### here: de keo tha, di chuyen man hinh nguoi goi (localVideoDiv) -->
<script>
    dragElement(document.getElementById("localVideoDiv"));
        function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id + "header")) {
            // if present, the header is where you move the DIV from:
            document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
        } else {
            // otherwise, move the DIV from anywhere inside the DIV:
            elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            var tempTop = elmnt.offsetTop - pos2;
            var tempLeft = elmnt.offsetLeft - pos1;
            var maxW = window.innerWidth-305;
            let maxH = window.innerHeight-230;
            // set the element's new position:
            elmnt.style.top = (tempTop < 0 ? 0 : (tempTop > maxH ? maxH : tempTop)) + "px";
            elmnt.style.left = (tempLeft < 0 ? 0 : (tempLeft > maxW ? maxW : tempLeft )) + "px";
        }

        function closeDragElement() {
            // stop moving when mouse button is released:
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }
</script>
<!-- ### end here -->