<!DOCTYPE html>
<html lang="en">
<head>
  <title>Group Settings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./bootstrap-5.1.3-dist/css/bootstrap.min.css">
  <script src="./bootstrap-5.1.3-dist/js/jquery.slim.min.js"></script>
  <script src="./bootstrap-5.1.3-dist/js/popper.min.js"></script>
  <script src="./bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <p class="h1">SETTING</p>
    <div class="modal-body row">
        <div >
          <!-- Your first column here -->
          <label>ADD MEMBER</label>
          <div class="input-group">
            <input type="search" id="searchBox" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" onclick="searchUsers()" id="btnSearchUser" class="btn btn-outline-primary">search</button>
          </div>
          <table class="table" id="queryTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Mobile</th>
                <th>Admin</th>
                <th>Select</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </div>
        <div >
          <!-- Your second column here -->
          <label for="groupName">GROUP NAME</label>
          <div class="input-group">
            <input type="text" class="form-control" id="groupName" placeholder="Group Name">
            <button type="submit" onclick="console.log(this)" class="btn btn-primary" id="btnChangeName">Change Name</button>
          </div>
          <table class="table" id="memberListTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Mobile</th>
                <th>Admin</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
             
            </tbody>
          </table>
          <button type="submit" onclick="applySettings()" class="btn btn-primary" id="btnApply">APPLY</button>
        </div>
      </div>
      <div class="modal-body row">
        <button type="button" class="btn btn-secondary btn-lg btn-block">Leave Group</button>
      </div>
</body>
</html>
<script>
    var id_group = '<%=id_group%>';
    var myID_json = sessionStorage.getItem('login_data');
    if(myID_json==null){
        if(window.confirm('ban khong co quyen truy cap!!!')){
            window.location.href='/';
        }
        else
        {
            window.location.href='/';
        }
    }
    else
    {
        var myID = JSON.parse(myID_json)['id'];
        var accessToken = JSON.parse(myID_json).accessToken;
        var refreshToken = JSON.parse(myID_json).refreshToken;
    }
    
    window.onload = async function(){
        const options = {
            method: 'GET',
            headers: {
                'authorization': 'token '+ accessToken
            }
        };
        var res= await fetch('/authenOnLoad', options);
        var res_json = await res.json();
        if(!res || res.status!=200)
        {
            if(window.confirm('ban khong co quyen truy cap!!!')){
                window.location.href='/';
            }
            else
            {
                window.location.href='/';
            }
        }
        else{
            await fetchData();
        }
    }
    var isAdmin;
    var admin;
    //var optionBTN_enable = '<td><button type="button" class="btn btn-outline-danger delete">Delete</button></td>';
    var optionBTN_enable =
    `<td>
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item delete" href="#">Delete</a>
            <a class="dropdown-item" href="#">Block</a>
          </div>
        </div>
      </td>
    `;
    var optionBTN_disable = '<td><button type="button" class="btn btn-outline-danger delete" disabled>Action</button></td>';
    async function fetchData()
    {
        const options = {
            method: 'POST',
            headers: {
                'authorization': 'token '+ accessToken,
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({'id_group': id_group, 'userID': myID, 'docType': 'group_message'})
        };
        var res= await fetch('/loadOptions', options);
        var res_json = await res.json();
        console.log(res_json);
        if(res_json.isAdmin=='false')
        {
            isAdmin='false';
            document.getElementById('btnSearchUser').setAttribute('disabled','');
            document.getElementById('btnChangeName').setAttribute('disabled','');
            //document.getElementById('btnApply').disabled=false;
            document.getElementById('btnApply').disabled=true;
        }
        else if(res_json.isAdmin=='true')
        {
            isAdmin='true';
            admin= res_json.admin;
        }

        for(let i=0;i<res_json.data.length;i++)
        {
          var newRow = document.createElement('tr');
              var id = res_json.data[i]['id'];
              var name = res_json.data[i]['TenDayDu'];
              var dept = res_json.data[i]['TenDonVi'];
              var mobile = res_json.data[i]['Mobile'];
              if(isAdmin=='true')
              {
                var selectBtn =optionBTN_enable;
                queryTable.disabled=true;
              }
              else if(isAdmin=='false')
              {
                var selectBtn = optionBTN_disable;
              }

              if(id==admin)
              {
                var admin_element=`<td>Admin</td>`
              }
              else
              {
                var admin_element=`<td>Member</td>`
              }
              
              newRow.innerHTML= 
              `
                  <td style="display:none;">${id}</td>
                  <td>${name}</td>
                  <td>${dept}</td>
                  <td>${mobile}</td>
                  ${admin_element}
                  ${selectBtn}
              `;
              memListTable.append(newRow);
        }
    }
    $(document).on('click', '.delete', function(){
        $(this).parents("tr").remove();
    })
    var selectBtn = document.getElementsByClassName('select');
    var queryTable = document.getElementById('queryTable').getElementsByTagName('tbody')[0];
    var memListTable = document.getElementById("memberListTable").getElementsByTagName('tbody')[0];
    for(var i=0; i<selectBtn.length;i++)
    {
        selectBtn[i].addEventListener('click', function(event){
            var thisTarget = event.currentTarget;
            var row = thisTarget.parentNode.parentNode;
            var lastBTN = row.cells[row.cells.length-1]; 
            lastBTN.innerHTML = optionBTN_enable;
            memListTable.appendChild(row)
        })
    }

    function addNewMember(event){
        //var thisTarget = event.currentTarget;
        var row = event.parentNode.parentNode;
        var lastBTN = row.cells[row.cells.length-1]; 
        if(isAdmin=='false')
        {
            lastBTN.innerHTML = optionBTN_disable;
        }
        else if(isAdmin == 'true')
        {
            lastBTN.innerHTML = optionBTN_enable;
        }
        
        memListTable.appendChild(row)
    }

    async function searchUsers(){
        try
        {
            var searchBox = document.getElementById('searchBox');
            var userID = searchBox.value;
            const options = {
                    method: 'GET',
                    headers: {
                        'authorization': 'token '+ accessToken,
                    }
                }
            var res = await fetch('/searchUserByID?id='+userID, options);
            var res_json = await res.json();
            console.log(res_json);
            for(let i=0; i<res_json.data.length; i++)
            {
              var newRow = document.createElement('tr');
              var id = res_json.data[i]['id'];
              var name = res_json.data[i]['TenDayDu'];
              var dept = res_json.data[i]['TenDonVi'];
              var mobile = res_json.data[i]['Mobile'];
              var selectBtn =`<td><button type="button" onclick="addNewMember(this)" 
                  class="btn btn-outline-primary select">Select</button></td> `;
              newRow.innerHTML= 
              `
                  <td style="display:none;">${id}</td>
                  <td>${name}</td>
                  <td>${dept}</td>
                  <td>${mobile}</td>
                  <td>Member</td>
                  ${selectBtn}
              `;
              console.log(queryTable.rows.length);
              var flag_q=0;
              var flag_m =0
              if(queryTable.rows.length>0){
                  for(let j=0;j<queryTable.rows.length;j++){
                  if(id==queryTable.rows[j].cells[0].innerHTML){
                      flag_q=1;
                    }
                  }
              }

              if(memListTable.rows.length>0){
                  for(let k=0; k<memListTable.rows.length;k++){
                  if(id== memListTable.rows[k].cells[0].innerHTML){
                      flag_m=1
                    }
                  }
              }
                  
              if(flag_m==0 && flag_q==0 && id!=myID){
                  queryTable.appendChild(newRow);
              }
              
              if(queryTable.rows.length==0 && memListTable.rows.length==0 && id!=myID)
              {
                  queryTable.appendChild(newRow);
              }

            }
        }
        catch(error)
        {
            console.log(error);
        }
    }

    async function applySettings(){
      var groupName= document.getElementById('groupName');
      if(memListTable.rows.length>0 && groupName.value != ''){
        var listUser = [];
        for(let i=0;i<memListTable.rows.length;i++){
          let id = memListTable.rows[i].cells[0].innerHTML;
          listUser.push(id);
        }
        console.log(groupName.value, listUser);
        const options={
          method:'POST',
          headers: {
              'authorization': 'token '+ accessToken,
              'Content-Type': 'application/json'
            },
          body: JSON.stringify({
            'groupName': groupName.value,
            'userID': listUser,
            'admin': myID
          })
        }
        var res = await fetch('/generateGroup', options);
        var json_res = await res.json();
        if(json_res.data=='ok'){
          memListTable.innerHTML='';
        }
      }
      else if(memListTable.rows.length==0 || groupName.value == '')
      {
        alert('vui long nhap ten nhom va chon thanh vien!!!')
      }
    }

</script>
