<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./fontawesome-free-6.1.1-web/css/all.min.css">
<style>
    * {
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body {
        font-family: "Lato", sans-serif;
    }

    .chat-container {
        display: flex;
        margin-left: 80px;
        transition: all 0.4s ease;
        height: 100vh;
    }

    .chat-container.scaledown {
        margin-left: 380px;
    }

    /* Style the tab */
    .tab {
        display: flex;
        flex-direction: column;
        width: 25%;
        /* min-height: 100vh; */
        background-color: #f8f8f8;
        border-right: none;
        height: 100%;

    }

    #hist_tab {
        height: 100%;
        overflow-y: auto;
        background-color: #f8f8f8;
        padding-left: 20px;
    }

    .tablinks {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        padding: 20px 18px 20px 22px;
        font-family: 'Poppins', sans-serif;
        background-color: transparent;
        transition: all 0.1s ease-in-out;
        margin: 0;
        border: 0px rgb(121, 199, 197);
        position: relative;
        z-index: 999;
        margin-bottom: 10px;
    }

    .tablinks:hover {
        cursor: pointer;
        background-color: #ffffff;
        border-right: 4px solid #635f84;
        box-shadow: -4px 10px 15px 0px #eee;
    }

    .tablinks.active-users {
        background-color: #ffffff;
        border-right: 4px solid #635f84;
        box-shadow: -4px 10px 15px 0px #eee;
    }

    .tablinks .acc-avatar {
        width: 20%;
    }

    .tablinks .acc-status {
        width: 90%;
    }

    .tablinks .acc {
        /* text-transform: uppercase; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
    }

    .tablinks .status-offline {
        color: red;
    }

    .tablinks .status-info {
        display: flex;
        align-items: center;
    }

    .tablinks .status-online {
        color: red;
    }

    .dots-offline {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: red;
        margin-right: 15px;
    }

    .dots-online {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: green;
        margin-right: 15px;
    }

    /* Style the tab content */
    .chat-box {
        display: flex;
        width: 75%;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        height: 100%;
        background-color: #f1f3f4;
    }

    .chat-box .top-bar {
        width: auto;
        height: 8%;
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
        border: none;
        margin: 20px 15px;
        align-items: center;
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: -4px 10px 15px 0px #eee;
    }

    .chat-box .top-bar .user-info {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .chat-box .top-bar .user-info .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #5364ee;
        position: relative;
    }

    .chat-box .top-bar .user-info .avatar p {
        width: 40px;
        height: 40px;
        line-height: 40px;
        position: absolute;
        /* left: 50%; */
        text-align: center;
        color: white;
        font-weight: 400;
    }

    .chat-box .top-bar .user-info .name-chat {
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 20px;
    }


    .chat-box .top-bar button {
        outline: none;
        border: none;
    }

    .chat-box .top-bar i.bxs-phone-call {
        color: #5364ee;
        font-size: 26px;
        background-color: #fff;
        cursor: pointer;
    }

    #chat-content {
        min-width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        background-color: #f1f3f4;
        padding: 20px;
    }

    .incoming {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        width: 100%;
    }

    .incoming .bubble {
        padding: 15px 15px 15px 18px;
        background: #fdfdfd;
        border-radius: 0px 12px 12px 12px;
        color: 'black';
        font-size: 18px;
        margin-right: 5px;
        word-break: break-all;
        max-width: 75%;
        margin-bottom: 10px;
    }

    .outgoing {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 4px;
        width: 100%;
    }

    .outgoing .bubble {
        padding: 15px 15px 15px 18px;
        background: #3b3ea2;
        border-radius: 12px 0px 12px 12px;
        color: white;
        font-size: 18px;
        margin-left: 5px;
        word-break: break-all;
        max-width: 75%;
        margin-bottom: 10px;
    }

    .userName {
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 600;
    }

    .block_func_btn {
        position: relative;
        display: inline-block;
    }

    .expand-func-icon {
        display: flex;
        flex-direction: column;
        gap: 2px;
        cursor: pointer;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }


    .expand-func-icon:hover {
        background-color: #C7C9CC;
    }

    .expand-func-icon .dots {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: #777777;
    }

    .expand-func-icon_left {
        display: flex;
        cursor: pointer;
        padding: 7px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }

    .expand-func-icon_left:hover {
        background-color: #C7C9CC;
    }

    .expand-func-icon_left .fa-list-check {
        font-size: 15px;
    }

    .incoming .block_func_btn .dropdown-button {
        min-width: 110px;
        min-height: 60px;
        position: absolute;
        left: 20%;
        top: 25px;
        padding: 8px 11px;
        background-color: #C7C9CC;
        border-radius: 0px 8px 10px 8px;
        display: none;
    }

    .incoming.active-dropdown .block_func_btn .dropdown-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        z-index: 99;
    }

    .block_func_btn .dropdown-button button {
        outline: none;
        border: none;
        background: transparent;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        width: 100%;
        font-weight: 400;
    }

    .block_func_btn .dropdown-button button:hover {
        cursor: pointer;
        background-color: #f2f2f2;
        padding: 5px 8px;
        border-radius: 4px;
    }

    .outgoing .block_func_btn .dropdown-button {
        min-width: 110px;
        min-height: 60px;
        position: absolute;
        /*neu muon dung hover thi phair an cai nay di*/
        right: 20%;
        top: 25px;
        padding: 8px 11px;
        background-color: #C7C9CC;
        border-radius: 10px 0px 10px 10px;
        display: none;
    }

    .outgoing.active-dropdown .block_func_btn .dropdown-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        z-index: 99;
    }


    /* .input_form{
    position: absolute;
    position: sticky;
    bottom: 50;
    top: 430px;
} */

    /* .input_mess{
    float: right;
    width: 50%;
    height: 50px;
    margin-top: auto;
} */
    /* .send_button{
    margin-top: auto;
    float: right;
    height: 50px;
} */

    .darker {
        border-color: #ccc;
        background-color: #ddd;
    }


    .msger-inputarea {
        margin: 15px 10px;
        display: flex;
        padding: 10px;
        background: #fff;
        border-radius: 6px;
    }

    .msger-input {
        border: none;
        outline: none;
        margin: 0px 10px 0px 10px;
        width: 100%;
        background: #fff;
        display: block;
        /* padding-top: 10px; */
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        padding-left: 30px;
    }

    .msger-send-btn {
        border: none;
        outline: none;
        margin-left: 10px;
        background: #5759e8;
        color: #fff;
        cursor: pointer;
        border-radius: 10%;
    }

    .msger-send-btn i {
        padding: 10px 12px;
        font-size: 28px;
        cursor: pointer;
    }

    .netstat {
        color: green;
    }

    .button_menu {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .show {
        display: block;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1000;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    .modal-body {
        padding: 2px 16px;
    }

    .modal-footer {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
    }

    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
</style>
<html>
    <head>
        <title>He Thong Tin Chi Dao Dieu Hanh</title>
        <%- include('./header')%>
    </head>
    <body>
        
    </body>
</html>
<script type="text/javascript" src="./jquery-3.6.0.js"></script>
<script type="text/javascript" src="./socket.io.min.js"></script>